@model IEnumerable<pickuphockey.Models.ActivityLog>

@if (Model.Any())
{
    var zone = TimeZoneInfo.FindSystemTimeZoneById("Pacific Standard Time");

    <h2>Activity Log</h2>
    foreach (var item in Model)
{
        var pst = TimeZoneInfo.ConvertTimeFromUtc(item.CreateDateTime, zone);

        @pst.ToString("MM/dd/yyyy HH:mm:ss.fff")
        <span> - </span>
        @Html.DisplayFor(modelItem => item.User.FirstName)
        <span> </span>
        @Html.DisplayFor(modelItem => item.User.LastName)
        <span> - </span>
        @Html.DisplayFor(modelItem => item.Activity)
        <br />
    }
}
