@using pickuphockey.Models
@model IEnumerable<pickuphockey.Models.Session>
@{
    var pstZone = TimeZoneInfo.FindSystemTimeZoneById(System.Configuration.ConfigurationManager.AppSettings["DisplayTimeZone"]);
    var list = Model.Where(m => m.SessionDate.Date >= TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, pstZone).Date).OrderBy(m => m.SessionDate);
}

<table class="table">
    @foreach (var item in list)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SessionDate)
            </td>
        </tr>
    }
</table>
