@model IEnumerable<pickuphockey.Models.Session>
@{
    var list = Model.Where(m => !m.IsPast).OrderBy(m => m.SessionDate);
}

<table class="table">
    @foreach (var item in list)
    {
        <tr>
            <td width="70%">
                @Html.ActionLink(item.SessionDate.ToString("dddd, MM/dd/yyyy, HH:mm"), "Details", "Sessions", new { id = item.SessionId }, null)
            </td>
            <td width="25%">
                @Html.DisplayFor(itemList => item.Note)
            </td>
            @if (User!= null && User.IsInRole("Admin"))
            {
                <td width="5%">
                    @if (item.CanEdit)
                    {
                        @Html.ActionLink("Edit", "Edit", "Sessions", new { id = item.SessionId }, null) <span>|</span>
                    }
                    @if (item.CanDelete)
                    {
                        @Html.ActionLink("Delete", "Delete", "Sessions", new { id = item.SessionId }, null)
                    }
                </td>
            }
        </tr>
    }
</table>
