@model IEnumerable<pickuphockey.Models.Session>
@{
    var list = Model.Where(m => m.IsPast).OrderByDescending(m => m.SessionDate);
}

<table class="table">
    @foreach (var item in list)
    {
        <tr>
            <td width="70%">
                @Html.ActionLink(item.SessionDate.ToString("dddd, MM/dd/yyyy, HH:mm"), "Details", "Sessions", new { id = item.SessionId }, null)
            </td>
            <td width="30%">
                @Html.DisplayFor(itemList => item.Note)
            </td>
        </tr>
    }
</table>
