@using pickuphockey.Models
@model IEnumerable<pickuphockey.Models.Session>
@{
    var pstZone = TimeZoneInfo.FindSystemTimeZoneById(System.Configuration.ConfigurationManager.AppSettings["DisplayTimeZone"]);
    var list = Model.Where(m => m.SessionDate.Date < TimeZoneInfo.ConvertTimeFromUtc(DateTime.UtcNow, pstZone).Date).OrderByDescending(m => m.SessionDate);
}

<table class="table">
    @foreach (var item in list)
    {
        <tr>
            <td>
                @Html.ActionLink(item.SessionDate.ToString("dddd, MM/dd/yyyy"), "Details", "Sessions", new { id = item.SessionId }, null)
            </td>
            <td>
                @Html.DisplayFor(itemList => item.Note)
            </td>
        </tr>
    }
</table>
