@using Microsoft.AspNet.Identity
@using pickuphockey.Models
@model pickuphockey.Models.Session
@{ 
    var count = Model.User.UnmarkedReceived.Count();
}
@if (count > 0) {
    <h2 class="text-danger">You have @Html.ActionLink(count.ToString(), "UnmarkedReceived") session spot(s) that are not marked as paid. You cannot buy a spot until every session is confirmed as paid and marked received.</h2>
}
