@model pickuphockey.Models.Session
@{ 
    var count = Model.UnmarkedReceived.Count();
    var word = count > 1 ? "spots" : "spot";
}
@if (count > 0) {
    <div class="banner-message">
        <h3 class="text-danger">You have @Html.ActionLink(count.ToString(), "UnmarkedReceived") @word you sold that are not marked as payment received.</h3>
    </div>
}
