@using Microsoft.Ajax.Utilities
@model pickuphockey.Models.Session

@{
    ViewBag.Title = "Delete Session";
}

<h2>Delete Session</h2>

<h3>Are you sure you want to delete this Session?</h3>
<div>
    <hr />
    @Html.DisplayFor(model => model.SessionDate)
    @if (!Model.Note.IsNullOrWhiteSpace())
    {
        <br/>
        @Html.DisplayFor(model => model.Note)
    }
    <br/><br/>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
