body {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 5px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    padding: 0.5em 0.6em;
}

.jumbotron.h1 {
    font-size: 2em;
}

.jumbotron.p {
    font-size: 1.2em;
}

.jumbotron.btn {
    padding: 0.5em;
}

.navbar-inverse {
    background-color: #013E82;
    border-color: #080808;
}

.navbar-inverse .navbar-brand {
  color: #E2E2E2;
}
.navbar-inverse .navbar-text {
  color: #E2E2E2;
}
.navbar-inverse .navbar-nav > li > a {
  color: #E2E2E2;
}
.banner-message {
  background-color: #ffff99;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
