@{
    ViewBag.Title = "Confirm Email";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Thank you for confirming your email. To have your account activated, please send an email to Brett Morrison (brett@brettmorrison.com) and John Bryan (90266jb@gmail.com) stating who referred you to the pickup list. Your account will be considered for inclusion as an Active player.  Please @Html.ActionLink("click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
