@{
    ViewBag.Title = "Game Pucks";
}

<h2>Game Puck Winners</h2>

<style>
    #flickr-album {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 20px auto;
    }

    #flickr-album img {
        width: 400px;
        object-fit: cover;
        margin: 0 5px 5px 0;
    }
</style>

<script>
    const owner = 'morrisonbrett';
    const apiKey = '80ce3a61ed9e788c8e4e31641582fc0a';
    const flickrAlbumId = '72177720312370541';
    const flickrUrl = `https://api.flickr.com/services/rest/?method=flickr.photosets.getPhotos&api_key=${apiKey}&photoset_id=${flickrAlbumId}&format=json&nojsoncallback=1`;

    fetch(flickrUrl)
        .then(response => response.json())
        .then(data => {
            const photos = data.photoset.photo;

            photos.forEach(photo => {
                const imgUrl = `https://farm${photo.farm}.staticflickr.com/${photo.server}/${photo.id}_${photo.secret}_b.jpg`;

                // Make a separate request to get the photo info
                const flickrPhotoId = photo.id;
                const flickrPhotoInfoUrl = `https://api.flickr.com/services/rest/?method=flickr.photos.getInfo&api_key=${apiKey}&photo_id=${flickrPhotoId}&format=json&nojsoncallback=1`;

                fetch(flickrPhotoInfoUrl)
                    .then(response => response.json())
                    .then(data => {
                        const photoInfo = data.photo;
                        const owner = photoInfo.owner.username;
                        const title = photoInfo.title._content;

                        const aElement = document.createElement('a');
                        aElement.href = `https://www.flickr.com/photos/${owner}/${photo.id}`;
                        aElement.target = '_blank';

                        const imgElement = document.createElement('img');
                        imgElement.src = imgUrl;

                        const captionElement = document.createElement('p');
                        captionElement.textContent = title;

                        aElement.appendChild(imgElement);
                        aElement.appendChild(captionElement);

                        const flickrAlbum = document.getElementById('flickr-album');
                        flickrAlbum.appendChild(aElement);
                    });
            });
        });
</script>

<div id="flickr-album"></div>
