@{
    ViewBag.Title = "Game Pucks";
}

<a data-flickr-embed="true" href="https://www.flickr.com/photos/morrisonbrett/albums/72177720312370541" title="John Bryan Pickup Hockey - Game Puck Winners"><img src="https://live.staticflickr.com/65535/53303385329_3111a1e597_c.jpg" width="500" alt="John Bryan Pickup Hockey - Game Puck Winners" /></a>
<script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>